
body{
    border: 1px solid black ;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fomulario{
    border: 1px solid black ;
    height: 100px;
    display: flex;
    flex-direction: column;
}